.row
  .col.col-lg-12.headline
    h1.big-title.center Themes
    .row
      .col.col-sm-4
        .card
          img.card-img-top(src='img/in_practice.png', alt='Card image cap')
          .card-body
            h6
            h5 Innovation
            p.card-text
      .col.col-sm-4
        .card
          img.card-img-top(src='img/in_practice2.png', alt='Card image cap')
          .card-body
            h6
            h5 In Practice
            p.card-text

      .col.col-sm-4
        .card
          img.card-img-top(src='img/wellbeing.png', alt='Card image cap')
          .card-body
            h6
            h5 Digital Wellbeing

            p.card-text
