.row
  .col.col-lg-12.headline
    h1.big-title.center Themes
    .row
      .col.col-sm-4
        .card
          img.card-img-top(src='img/in_practice.png', alt='Card image cap')
          .card-body
            h6
              i Theme 1
            h5 Innovation
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
      .col.col-sm-4
        .card
          img.card-img-top(src='img/innovation.png', alt='Card image cap')
          .card-body
            h6
              i Theme 2
            h5 In Practice
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.

      .col.col-sm-4
        .card
          img.card-img-top(src='img/wellbeing.png', alt='Card image cap')
          .card-body
            h6
              i Theme 3
            h5 Digital Wellbeing

            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
