.row.wrapper
  .col.col-lg-6.title.headline
    h1.big-title.main-title
      | TEL Fest
      br
      | 2019
    h2
      b 21 June. University of Liverpool.
    p
      | A fresh, unconventional conference for teaching staff.

    button.btn.btn-primary(type='button') Register Now

  .col.col-lg-6.title.headline.article-splash
    h3.article
      i Conference Outlook
    a(href="#why").article
      h2.article
        | Don't you think it's about time we celebrated our approach to Educational Technology?
    img(src="img/monica.jpg").article-pic
    p.article-author
      b Dr. Monica Chavez
      br
      i Conference Chair
