.row
  .col.col-lg-8.headline
    h2.big-title
      | Don't you think it's about time we celebrated our Technology Enhanced Learning practices?
    .article-footer
      .article-author
        img(src="img/monica.jpg").article-pic
      p.article-author
        b Dr. Monica Chavez
        br
        i Conference Chair

    p.article
      | Are you done with traditional conferencing? Will you scream if you see another powerpoint presentation?
      | Perhaps it's time to try something new. TEL Fest is an alternative conference for Teachers and
      | Educational Technologists in Higher Education.
      | Join us for a single fun packed day of events that YOU get to choose before the event!
      | Take part in one of our immersive workshops, feel the heat of our fast paced
      | lightning talks or network during our Discovery sessions. 
      br
      br
      | TEL Fest 2019 celebrates the rapid changes and diversity in technology for education
      | by bringing together a truly inclusive event hosted in partnership between Liverpool International College, University of Liverpool
      | and Liverpool John Moores University. We crave for a more diverse landscape in the field of Technology Enhanced Learning (TEL),
      | one in which people of different backgrounds can showcase their awesomeness.
  .col.col-lg-4.text-center
    p.partners
      i Partners
    img.partner-logo(src="img/logo_kaplan_2.jpg")
    img.partner-logo(src="img/uol.jpg")
    img.partner-logo(src="img/ljmu.jpg")

    p.partners
      i Sponsors
    img.partner-logo(src="img/hipy.jpg")
    img.partner-logo(src="img/meetoo.jpg")
