@import url('https://fonts.googleapis.com/css?family=Heebo:100,200,400,600,900');
@import 'variables.scss';

body, .event-box {
  font-family: 'Heebo', sans-serif;
}
.navbar {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}
h1.big-title {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 3em;
}
h1.main-title {
  font-size: 4em;
}

h2.big-title {
  font-family: 'Merriweather', serif;
  fong-weight: 400;
  font-size: 2em;
  color: $dark-color;
}

p.event a {
  color: $light-color;
}

#why {
  color: $dark-color;
  padding-top: 50px;
  padding-bottom: 50px;
}

p.article {
  font-size: 1.1em;
  line-height: 1.6em;
}

p.event {
  font-size: 1em;
}

p.resource {
  color: $dark-color
}

.btn-primary {
  background-color: $light-color;
  color: #fff;
  font-family: 'Merriweather', serif;
  border-color: $light-color;
  font-size: 1.1em;
  border-radius: 5px;
}

a.article, h2.article {
  font-family: 'Merriweather', serif;
  color: $primary-color;
  text-decoration: underline;
  text-decoration-color: $light-color;
  margin-top: 10px;
}

a.article:hover {
  color: $calm-color;
}
h3.article {
  color: $light-color;
  font-weight:800;
  margin-bottom: 0px;
}

.article-pic {
  height: 80px;
  border-radius: 40px;
  border: 2px solid $calm-color;
  display: inline-block;

}
p.article-author {
  height: 100px;
  display: inline-block;
  margin-left: 10px;
}

p.partners {
  margin-top: 30px;
}

.partner-logo {
  max-width: 250px;
}
